body{
    margin:0;padding:0;box-sizing: content-box;
}
@media only screen and (max-width:600px){
    body{
        
    }
    html, body{
        margin:0;padding:0;box-sizing: content-box;
    }
}

#catalogo_Mesas, #catalogo_Pedidos{
    margin:5px;
}
#catalogo_Pedidos main{
    background-color:rgba(207, 46, 18, 0.089);
    display:flex;justify-content:space-between;
    height:150px;
}
#catalogo_Pedidos main .Informações_Pedidos{
     
      /* background-color:rgba(82, 81, 81, 0.438); */
    width:25%;
    
}
#catalogo_Pedidos main .Informações_Pedidos li{
    margin-top:-10px;position:relative;
    top:-15px;left:-20px;list-style-type:none;
}

#catalogo_Pedidos main .Informações_Pedidos li h2{
    font-size:40px;
}
/* @media screen and (max-width:718px){
    #catalogo_Pedidos main .Informações_Pedidos{
        display:flex;flex-direction:column;
    }
    
    #catalogo_Pedidos main .Informações_Pedidos li h2{
        font-size:27px;
    }
}
@media screen and (max-width:540px){
    #catalogo_Pedidos main .Informações_Pedidos li h2{
        text-align:center;
        font-size:21px;
    }
} */
#catalogo_Pedidos main .itens_Pedidos{
    display:flex;
    width:69%;
   
}
#catalogo_Pedidos main .itens_Pedidos ul{
    width: 100%;margin-left:-50px;
    display:flex;justify-content:space-between;background-color:rgba(255, 0, 0, 0);
}
#catalogo_Pedidos main .itens_Pedidos ul li{
    width:200px;height:100px;border-left:2px solid rgba(0, 0, 0, 0.418);
     background-color:rgba(66, 53, 139, 0.192); 
    text-align:center;
    /* display:flex;
    justify-content:center;align-items:center; */
}
#catalogo_Pedidos div{
    background-color:rgba(0, 0, 255, 0.438);height:100px;
}
#mainPrincipal_block{
    display:flex;align-items:center;justify-content:space-between;
    background-color:rgba(187, 185, 185, 0.671);height:60px;width:100%;
}
#mainPrincipal_block div{
    background-color:rgba(0, 0, 255, 0);display:flex;margin:10px;
}
#mainPrincipal_block div h3{
    color:rgba(46, 46, 46, 0.808);background-color:rgba(146, 146, 146, 0.548);margin:10px;
    user-select:none;
}
body #catalogo_Mesas{
    
    
}
#mesa_information{
    width:200px;width:50%;
}
body .flex_block{
    width:100%;height:90%;
}
.flex_block li{
    
}
.flex_block .titleBlock{
   /* border-left:2px solid rgba(59, 87, 17, 0.473);display:flex;flex-direction:column;
    justify-content:center;
    width:160px;height:270px;text-align:center;/*background-color:rgba(156, 155, 155, 0.452)*/
}
.flex_block h1{
    align-items:center;background-color:rgba(148, 146, 146, 0);
}
#tableMenu_block{
    width: 90%;font-size:22px;
    /* background-color:rgba(128, 128, 128, 0.183); */
    display:flex;flex-wrap:wrap;   
}
#tableMenu_block li{
    list-style-type:none;
    background-color: rgba(0, 255, 255, 0.901);
    height:70px;width:110px;
}
#tableMenu_block li h3{
    text-align:end;margin:25px 5px;
    font-size:23px;
}
#tableMenu_block li p{
    margin:2px 3px;
    font-size:15px;font-weight:500;
}
@media only screen and (max-width:600px){
    #catalogo_Mesas button[name="adicionar_mesa"]{
        background-color:rgb(205, 209, 5);
        color:rgb(255, 255, 255);
        border-style:solid;border-width:1px;border-color:rgba(81, 218, 69, 0.645);
        border-radius:5px;
        height:40px;width:70px;
        position:relative;
        transform:translate(10px,-50%);
    }
    #mesa_information{
        position:relative;left:50%;
        transform:translateX(-50%);
        width:90%;
        text-align:center;
        
    }
    #catalogo_Mesas{
        margin:0;
        height:700px;
        
    }
    body .flex_block{
        display:block;
        
    }
    #tableMenu_block{
        background-color:rgb(214, 214, 214);
        border-bottom:1px solid rgba(81, 218, 69, 0.645);
        border-top:1px solid rgba(0, 0, 0, 0.438);
        justify-content:space-around;
        align-items:center;
        margin:0;padding:15px 0 30px 0;
        row-gap:5px;
        width:100%;
        
    }
    #tableMenu_block li{
        background-color:rgb(240, 240, 240);border-bottom:2px solid black;
        height:65px;border-top-color:black;
        /*width:80px;*/
    }
    #tableMenu_block li h3{
        
        text-align:end;margin:25px 5px;
        font-size:20px;display:inline;
        
    }
    #tableMenu_block .list_ghost{
        list-style-type:none;
        border-color: rgba(255, 255, 255, 0);
        background-color:rgba(243, 6, 6, 0);
    }
    #button_entregar_pedido{
        display:none;
        margin:10px;
        background-color:blue;
    }
}
#tableInfo_block .separator_line{
    background-color:rgb(185, 183, 183);
    width:60%;height:1px;
    position:relative;left:50%;
    transform:translateX(-50%);
}
#tableInfo_block{
    /* background-color:rgb(58, 98, 227); */
    width:100%;
    text-align:center;
    list-style-type:none;
}
#tableInfo_block #precoInfo{
    text-align:start;display:none;
    margin:10px;
} 
li.animation_request_order{
    animation-name:animation_block_order;
    animation-duration:0.65s;
    animation-direction:alternate;
    animation-iteration-count:infinite;
    animation-fill-mode:both;
    border-top:1px solid blue;
    box-shadow:2px 5px 2px black;
}
@keyframes animation_block_order{
    from{
      box-shadow:0px 1px 0px rgba(0, 0, 0, 0.246);
      
      border-top-color:blue;
      border-bottom-left-radius:0px;
      border-bottom-right-radius:0px;
      transform: translateY(0);
      border-bottom-color:blue;
      border-bottom-width:2px;
    }
    to{
        box-shadow:1px 4px 3px rgba(0, 0, 0, 0.467);
      border-top-color:rgb(82, 208, 77);
      border-bottom-left-radius:5px;
      border-bottom-right-radius:5px;
      transform: translateY(-6%);
      border-bottom-color:rgb(82, 208, 77);
      border-bottom-width:3px;
    }
  }
  li .animation_request_order{
    animation-name:animation_text_order;
    animation-direction:alternate;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
  }
  @keyframes animation_text_order{
    from{
      color:black;
    }
    to{
      color:rgb(78, 78, 75);
    }
  }

.flexSize_M{
    
}
#requestGarçom{
    display: none;
    
}
#formulário{
    margin:0;display:none;
}
#name_client{
    text-align:start;margin:10px;
}