<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, width-scale=1.0"/>
    <title>Testar animations</title>
</head>
<style>
 html,body{
    padding:0;
    margin:0;
 }
 body{
    background-color:gray;
 }
 div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:140px;
    height:115px;
    background-color:white;
    border-bottom:2px solid black;
 }
 div h3{
    display:inline;
    position:relative;
    left:40%;
    top:25%;
    font-size:25px;
 }
 div p{
    text-align:start;
    margin:5px;
    font-size:17px;
 }


</style>
<body>
   <div><p>Vazio</p><h3>Mesa 1</h3></div>

</body>
</html>