:root{
    --doc-height:100%;
    --show-pedidos:none;
    --dotted-color:rgba(0, 0, 0, 0.394);
    --black-screen:block;
    --green-color:rgb(23, 180, 23);
    --blue-color:rgb(25, 146, 245);
    --roll-lerp:1;
    --roll-lerp-car:1;
    
}
body{
    margin:0;
}
@media only screen and (max-width:600px){
    html,body{
        overflow-x:hidden;
    }
}
a{
    text-decoration:none;
}
#black-screen{
    position:fixed;
    bottom:0;
    display:var(--black-screen);
    height:100%;
    width:100%;
    background-color:rgb(0, 0, 0);
    text-align:center;
}
#black-screen h2{
    position:absolute;
    top:38.8%;
    color:rgb(136, 192, 53);
    width:100%;
    display:none;
}
#black-screen img{
    position:absolute;
    top:60%;
    left:0;
    width:200px;
    display:var(--img-display);
    border-radius:50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.449); 
    margin-left:10px;
}
.opacity_animation{
    animation-name:opacity-black-screen;
    animation-duration:0.7s;
    animation-timing-function:linear;
}
@keyframes opacity-black-screen{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
#Begin_animation{
    position:fixed;top:0;width:100%;height:100%;
    display:flex;flex-direction:column;justify-content:space-between;
    animation-name: begin_animation;
    animation-duration:1.3s;
    animation-timing-function: ease-in;
    animation-fill-mode:forwards;
    display:none;
    --img-display:none;
}
@keyframes begin_animation{
    from{
        background-color:rgb(1, 1, 1);
    }
    to{
        --black-screen:none;
        --img-display:inline;
        background-color:rgb(255, 255, 255);
    }
}   

#Begin_animation h2{
    margin:10px;margin-top:15px;
    padding:5px;border-radius:10px;
    color:rgb(0, 0, 0);
}
#Begin_animation p{
    margin:10px;font-size:18px;
}
#Begin_animation #_1{
    text-align:center;
      
}
#Begin_animation #_2{   
    text-align:center;
    margin-bottom:5%;
}
#Begin_animation #_2 div{
    display:flex;flex-direction:column;align-items:center;justify-content:center;
    margin-bottom:70%;
}
#Begin_animation #_2 div h2{
    margin-bottom:5%;
}
#Begin_animation #_2 div span{
    color:rgb(136, 192, 53);
}
#Begin_animation #_2 div #loading_Bar{margin:20px;margin-top:40px;
    background-color:rgba(29, 29, 29, 0.678);width:280px;height:4px;
    position:relative;left:50px;
}
#Begin_animation main p{
    color:rgba(0, 0, 0, 0.5);
}
#button_chamar_garçom{
   background-color:rgb(185, 224, 7);width:104px;height:38px;
   margin:15px;border:1px solid rgba(83, 128, 0, 0.603);border-radius:5px;
   display:flex;align-items:center;justify-content:center;
   font-size:16px;
}

#status_order{
    position:sticky;
    top:0px;
    display:flex;justify-content:space-around;
    align-items:center;
    padding:0 5px;
    height:50px;
    border-bottom:1px solid black;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.357);
    background-color:white;
    z-index:0;
}
#status_order h5{
    margin:0;
}
#status_order div{
    text-align:center;
}
#roll-page{
    display:flex;
    justify-content:space-around;
    position:relative;
    left:0;
    width:200%;
    
}
#roll-page div[name = "page"]{
    width:50%;
    
}
.roll-lerp{
    animation-name:roll-lerp;
    animation-duration:0.83s;
    animation-fill-mode:forwards;
}
@keyframes roll-lerp{
    to{
        left:calc(100% * var(--roll-lerp));
    }
}
#btt-roll{
    position:fixed;
    top:83vh;
}#btt-roll2{
    position:fixed;
    top:85vh;
}#restaurante-main{
    --line-color:rgba(0, 0, 0, 0.493);
    
}#restaurante-main div[name='page']{
    background-color:green;
}#restaurante-main li{
    list-style:none;
    padding:5px;
    border:1px solid var(--line-color);
    margin:0 calc(10% - 1px);
    text-align:center;
    border-top:1px dotted var(--dotted-color);
    border-bottom:none; 
    
}#restaurante-main li:nth-last-child(-n+2){
    border-bottom:1px solid var(--line-color);
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}#restaurante-main li:first-child{
   
    border-top:1px solid var(--line-color);
    border-bottom:none;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin-top:10px;
}#restaurante-main div{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    border:1px dotted rgba(0, 0, 0, 0.519);
    width:80%;
    height:0;
    background-color:white;
    padding-bottom:80%;
    
}
#restaurante-cardápio{
    padding:0 0 60px 0;
    position:relative;
    left:0;
    display:flex;
    width:200%;
    
}

#restaurante-cardápio div[name = "sub-page"]{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    padding:0;
    background-color:red;
}
#restaurante-cardápio ul{
    background-color:white;
    padding:0;
    gap:1rem;
    width:50%;
    height:100%;
    position:relative;
    left:0;
    border-top-left-radius:10px;

    border:1px solid rgba(0, 0, 0, 0.365);
}#restaurante-cardápio h4{
    width:45%;
    text-align:center;
}.roll-lerp-car{
    animation-name:roll-lerp-car;
    animation-duration:0.68s;
    animation-fill-mode:forwards;
}
@keyframes roll-lerp-car{
    to{
        left:-50%;
    }
}#restaurante-cardápio li{
    list-style-type:none;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:45%;
    height:220px;
    text-align:center;
}#restaurante-cardápio li h5{
    font-weight:500;
    margin:0;
}#restaurante-cardápio li div{
    border:1px dotted red;
    --size-img:90%;
    margin:calc((100% - var(--size-img))/2);
    width:var(--size-img);
    height:0;
    padding-bottom:var(--size-img);
}#restaurante-cardápio li button{
    position:relative;
    font-size:15px;
    color:white;
    border-width:1px;
    background-color:var(--green-color);
}
#restaurante-cardápio li button:active{
    border-color:rgb(150, 150, 150);
}
#restaurante-cardápio li button[name="remover"]{
    position:relative;
    font-size:20px;
    color:white;
    width:30%;
    height:45px;
    background-color:red;
}
#meu-pedido_pag{
    display:none;
    width:90%;
    height:80%;
    position:fixed;
    left:50%;
    top:45%;
    translate: -50% -50%;
    background-color:white;
    border-bottom:1px solid rgba(0, 0, 0, 0.502);
    border-top:1px solid rgba(0, 0, 0, 0.526);
    z-index:1;
}
#meu-pedido_pag h3{
    position:absolute;
    top:-10px;
    right:0;
    margin-right:20px;
    cursor:pointer;
    color:rgba(0, 0, 0, 0.493);
    font-size:20px;
}
#meu-pedido_pag section[name="meu-pedido_main"]{
    --padding-lado:5px;
    position:absolute;
    top:100%;
    translate: 0% -100%;
    width:calc(100% - var(--padding-lado)*2);
    height:25px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    
    padding:5px var(--padding-lado);
}
#meu-pedido_pag section h4[name="confirmar-compra"]{
    display:block;
    color:white;
    background-color:rgb(23, 180, 23);
    padding:5px;
    
}
#meu-pedido_pag section h4[name="confirmar-compra"]:focus{
    outline:2px solid rgba(0, 0, 0, 0.35);
}
#meu-pedido_pag section[name="meu-pedido_main"] div[name="items-total"]{
    display:block;
    padding:0;
    height:auto;
}
#meu-pedido_pag section[name="meu-pedido_main"] div[name="items-total"] h4{
    margin:0;
    padding:0;
    display:inline;
    color:var(--green-color);
}
#meu-pedido_pag section[name="meu-pedido_main"] div[name="items-total"] span{
    color:rgba(0, 0, 0, 0.603);
}
#meu-pedido_pag div[name="offset_pag"]{
    position:absolute;
    width:100%;
}
#meu-pedido_pag div[name="title"]{
    padding:10px;
    font-weight:550;
    border-bottom:1px dotted var(--dotted-color);
}
#meu-pedido_pag div section{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:10px;
    height: 80px;
}
#meu-pedido_pag div section div{
    margin:-10px;
    height:50px;
    
}
#meu-pedido_pag div section div h4{
    margin:10px;
}
#meu-pedido_pag div section section{
    text-align:center;
    margin:-10px;
    padding:5px 0;
    height:auto;
    color:rgba(0, 0, 0, 0.53);
}
#meu-pedido_pag div section section:focus{
    text-decoration:underline;
    text-decoration-color:var(--green-color);
    color:black;
}
#meu-pedido_pag .separator_line{
    width:100%;
    height: 1px;
    background-color:var(--dotted-color);
    margin-left:50%;
    margin-top:5px;
    transform:translateX(-50%);
}

@media only screen and (max-width:500px){
    .cardápio div .order_main li{
        cursor:default;
    }
    .cardápio div .order_main div[name="comprar"]{
        cursor:pointer;
    }
}

#descricao_order_confirmation{
    display:none;
    position:fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:80%;
    height:80%;
    background-color:black;
    color:white;
}
.block_r{
    --padding-top:5px;
    border-bottom: 1px dotted var(--dotted-color);
    height:60px;
    display:flex;justify-content:space-between;
    align-items:center;
    padding:var(--padding-top) 5px 0 5px;
}.block_r h2 p{
    margin:0;
    font-size:13px;
    font-weight:500;
}.block_r div{
    display:flex;
    align-items:center;
    border:1px solid var(--green-color);
    border-radius:6px;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.507);
    padding:5px;
    height:50%;
    color:rgb(255, 255, 255);
    background-color:rgb(81, 200, 188);
    user-select:none;    
}
#Confirmar_add{
    position:fixed;top:0;display:none;
    justify-content:center;align-items:center;
    width:100%;height:100%;background-color:rgba(43, 42, 42, 0.213);
    z-index:1;
}#Confirmar_add #add_block{
    width:400px;height:60%;border-radius:7px;
    display:flex;flex-direction:column;justify-content:space-between;
    background-color: white;
    padding:5px;
}#Confirmar_add #add_block p[name="descricao"]{
    padding:10px;
}#Confirmar_add div button{
    width:41px;height:41px;
    border-radius:50%;
    border-width:1px;
    border-color:rgba(57, 57, 57, 0.261);
    font-size:23px;
    color:white;
    background-color:rgb(36, 192, 36);
    cursor:pointer;
}
@media only screen and (max-width:500px){
    #Confirmar_add div button{
        cursor:default;
    }
}
#Confirmar_add #add_block div{
    display:flex;
    justify-content:space-around;
    padding:5px;
    border-top:1px solid rgba(0, 0, 0, 0.541);
    border-bottom-left-radius:4px;border-bottom-right-radius:4px;
    background-color:rgba(230, 227, 227, 0.338);

}
#show_pedidos{
    display:flex;justify-content:center;text-align:center;
}
#show_pedidos span{
    border:1px solid rgba(0, 0, 0, 0.504);
    padding:7px;border-radius:7px;
    top:0;
}
#show_pedidos span ul{
    position:absolute;display:none;justify-content:center;
    margin-top:10px;margin-left:-8px;
    width:61px;gap:0.5rem;
    }
#show_pedidos span ul li div{
    display:block;
    position:relative;left:-20px;
    border-radius:5px;
    list-style-position:outside;list-style-type:none;
    width:100px;
    background-color:rgb(195, 194, 194);
}

#containers-info{
    background-color:rgb(210, 210, 210);
    position:fixed;
    bottom:0vh;
    width:100%;
    height:60px;
    z-index:1;
}
#containers-info p{
    color:rgba(0, 0, 0, 0.459);position:relative;
    left:25px;font-size:12px;
    white-space: nowrap;
}

#pag_width{
    width:100vh;
    height:10px;
}
#containers-info div[name="notification"]{
    border:1px dotted rgba(0, 0, 0, 0.511);
    border-radius:5px;
    margin:5px;
    text-align:center;
    width:37.7%;
    font-size:13px;
    background-color:rgb(210, 15, 15);
    display:none;
}
.notification_fixed_top{
    top:0;
    left:0;
}
#containers-info div[name="purchase-items"]{
    width:30%;
    padding:8px 10px 16px 10px;
    color:rgb(23, 180, 23);
    cursor:pointer;
}
#containers-info div[name="purchase-items"] h3{
    margin:0;
    margin-top:5px;
}
#containers-info div[name="purchase-items"] p{
    width:7ch;
    margin:0;
    cursor:pointer;
}
#containers-info div[name="purchase-items"] p:focus{
    text-decoration:underline;
    text-decoration-color:var(--green-color);
}
#containers-info div[name="Doming-talk"]{
    position:absolute;
    bottom:5px;
    right:0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:calc(60% - 4px);
    color:rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom:1px solid var(--blue-color);
    box-sizing:border-box;
    background-image:linear-gradient(to right,black,rgb(33, 33, 33));
}
#containers-info div[name="Doming-talk"]:focus{
    background-image:none;
    border:2px solid white;
    border-radius:0;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom:2px solid var(--green-color);
    background-color:rgb(29, 29, 29);
    animation-name:talk-focus;
    animation-duration:0.6s;
    animation-fill-mode:forwards;
    bottom:0;
    color: rgb(25, 146, 245);
}
@keyframes talk-focus{
    from{
        width:calc(60% - 4px);
        border-bottom-color:black;
    }
    100%{
        border-bottom-color:var(--green-color);
        width:100%;
    }    
}
#containers-info div[name="Doming-talk"] div[name="imagem"]{
    margin:5px;
    background-color:rgb(255, 255, 255);
    height:50px;
    width:50px;
    border-radius:50%;
    border:1px dotted rgba(0, 0, 0, 0.73);
}
.Doming-chat {
    position:absolute;
    opacity:0;
    top:70%;
    left:50%;
    translate:-50% 0;
    width:80%;
    height:400px;
    padding:8px;
    border:2px solid rgb(25, 146, 245);
    border-radius:3px;
    color:white;
}
.opening_chat{
    background-color:rgba(0, 0, 0, 0.901);
    animation-name:opening_chat;
    animation-duration:0.75s;
    animation-fill-mode:forwards;
}
@keyframes opening_chat{
    2%{
        opacity:0;
        
    }
    10%{
        opacity:0;
        translate:-50% 0;
    }
    50%{
        opacity:0.7;
    }
    to{
        opacity:1;
        translate: -50% -100%;
    }
}
@keyframes opening_confirm_order{
    from{
        transform:translateY(100%);
    }
    to{
        transform:translateY(0%);
    }
}
#Confirmar_todos_pedidos_payment_block.opening_animation{
    animation-name:opening_confirm_order;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
}
#Confirmar_todos_pedidos_payment_block{
    display:none;flex-direction:column;justify-content:space-between;align-items:center;
    height:100%;width:100%;background-color:rgb(255, 255, 255);
    position:fixed;top:0;text-align:center;padding:0;margin:0;
}
#Confirmar_todos_pedidos_payment_block button{
    background-color:var(--green-color);
    margin:30px;
    width:25%;height:10%;border-radius:11px;border-width:2px;border-color:rgba(0, 0, 0, 0.466)
}
#Confirmar_todos_pedidos_payment_block main{
    display:flex;flex-direction: column;
    justify-content:center;
    padding:0 0 0px 0;
    background-color:rgba(235, 234, 234, 0.375);
    width:100%;height:30%;
    color:rgb(43, 110, 2);
    /* background-color:rgba(215, 215, 215, 0.224); */
}
#Confirmar_todos_pedidos_payment_block main, #Confirmar_todos_pedidos_payment_block h2[name="valor"]{
    position:relative;top:10%;
}
#Confirmar_todos_pedidos_payment_block strong{
    position:relative;top:-10px;
    color:rgb(43, 110, 2);
}
#Confirmar_todos_pedidos_payment_block span{
    font-size:10px;
    text-align:end;margin-right:8px;
    position:relative;top:15px;
    color:rgba(81, 80, 80, 0.561);
}
#Confirmar_todos_pedidos_payment_block main .separator_line{
    display:inline-block;
    position:relative;left:50%;
    transform:translateX(-50%);
    background-color:rgba(128, 128, 128, 0.257);
    width:55%;height:1px;
}
#Confirmar_todos_pedidos_payment_block main p{
    text-align:start;
    margin-left:10px;
}
#Confirmar_todos_pedidos_payment_block main input{
    margin-left:10px;
    border-radius:5px;border-width:0px;border-bottom-width:1px;
}
#Confirmar_todos_pedidos_payment_block main input:focus{
   border-color:rgb(68, 219, 68);
   border-radius:3px;
   border-bottom-width:2px;
   outline:none; 
}
#descricao_order{
    background-color:rgb(255, 255, 255);
    display:block;margin-top:10px;
    border-bottom-left-radius:4px;border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    width:60%;height:60%;
}
#descricao_order:focus{
    box-shadow:0 0 0 0;
    outline-width:0px;
    border-color: var(--green-color);
}
#Confirmar_todos_pedidos_payment_block main #text-test{
    background-color:blue;
    width:100px;height:100px;
}
@media only screen and (max-width:600px){
    #Confirmar_todos_pedidos_payment_block button{
        background-color:var(--green-color);
        margin:30px;
        width:80%;height:10%;border-radius:11px;border-width:2px;border-color:rgba(0, 0, 0, 0.466)
    }
}
